*{
	padding:0;
	margin:0;
}
html,body{
    height: 100%;
}
.box{
	display: flex;
	flex-direction:column;
	height: 100%;
}
.header {
	display: flex;
	height:5%;
	justify-content:space-between;
	box-shadow:0px 5px 0px #eee;
}
.header .left{
	width:1%;
	display: flex;
	align-items:center;
	justify-content: center;
}
.header a{
	text-decoration: none;
	color:black;
}
.header .left a{
	width:2%;
}
.header .right{
	display: flex;
	align-items: center;
	width: 10%;
}
.header .right ul{
	flex-wrap:nowrap;
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}
.header .right ul li{
	list-style: none;
}
.title_style{
	display: flex;
	align-items: center;
}
.title_style span{
	font-family: sans-serif;
	font-size: 96px;
}
.body{
	flex-wrap: nowrap;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	height:100%;
	background:	#F0F0F0;
}
.body .container{
	width: 50%;
	height:60%;
	background:#FDFFFF;
	box-shadow:0 0 2px #FDFFFF;
	border-radius:5px;
	display: flex;
	justify-content: center;
}
.body .container ul{
	margin-top: 1%;
	margin-bottom: 1%;
	width:95%;
}
.body .container a{
	text-decoration: none;
	color:black;
}
.body .container ul li{
	display: flex;
	width: 100%;
	list-style: none;
}
.body .container ul li .left{
	width:90%;
	border-bottom:1px solid gray;
}
.body .container ul li .right{
	display: flex;
	justify-content: space-around;
	width: 10%;
}
.footer{
	display: flex;
	height:5%;
	justify-content:center;
	align-items: center;
}
