{{define "content"}}
<div class="content">
	<table class="table table-hover">
 		<thead>
 			<tr>
 				<th>标题</th>
 				<th>内容</th>
 				<th>时间</th>
 				<th>操作</th>
 			</tr>
 		</thead>
 		<tbody>
 			{{range .Todo}}
 			<tr>
 				<td>
 				{{if .Is_success}}
					<s><p>{{.Title}}</p></s>
				{{else}}
					<p>{{.Title}}</p>
				{{end}}
				</td>
 				<td>
 					{{if .Is_success}}
 					<s><p style="white-space: nowrap;text-overflow: ellipsis;overflow:hidden;width:80%;">
 						{{.Content}}
 					</p></s>
 					{{else}}
					<p style="white-space: nowrap;text-overflow: ellipsis;overflow:hidden;width:80%;">
 						{{.Content}}
 					</p>
 					{{end}}
 				</td>
 				<td>{{.Data}}</td>
 				<td>
 					<div class="handle">
	 					<ul class="handler">
	 						<li><a href="/admin/todolist/done?id={{.Id}}">完成</a></li>
	 						<li><a href="/admin/todolist/delete?id={{.Id}}">删除</a></li>
	 					</ul>
 					</div>
 				</td>
 			</tr>
 			{{end}}
 		</tbody>
	</table>
	<div class="paginate">

	{{if ne .PrePage -1}}
	<a href="/admin/todolist/?page={{.PrePage}}"><<</a>
	{{end}}
	{{if ne .NextPage -1}}
	<a href="/admin/todolist/?page={{.NextPage}}">>></a>
	{{end}}
	</div>
</div>

{{end}}