{{define "content"}}
<div class="container">
	<ul>
		{{range .Todo}}
		<li>
		<div class="left" id="content-left">
			{{if .Is_success}}
			<h3 id="ajaxbtn"><s><a href="/view?todoId={{.Id}}">{{.Title}}</a></s></h3>
			{{else}}
			<h3 id="ajaxbtn"><a style="color:red;" href="/view?todoId={{.Id}}">{{.Title}}</a></h3>
			{{end}}
		</div>
		</li>
		{{end}}
	</ul>
</div>
<div class="paginate">
	{{if ne .PrePage -1}}
	<a href="/?page={{.PrePage}}"><<</a>
	{{end}}
	{{if ne .NextPage -1}}
	<a href="/?page={{.NextPage}}">>></a>
	{{end}}
</div>
{{end}}