<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TodoList</title>
	<link rel="stylesheet" href="/default/static/css/main.css">
</head>
<body>
	<div class="box">
		{{template "nav"}}
		<div class="body">
			<div class="title_style">
				<span>ToDo</span>
			</div>
		{{template "content"}}
		</div>
		<div class="footer">
		{{template "footer"}}
		</div>
	</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/default/static/js/app.js"></script>
</html>