<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TodoList</title>
	<link rel="stylesheet" href="/static/main.css">
</head>
<body>
	<div class="box">
		<div class="header">
			<div class="left">
				<a href="">TodoList</a>
			</div>
			<div class="right">
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">Login</a></li>
				</ul>
			</div>
		</div>
		<div class="body">
			  <div class="container">
			  	<ul>
			  		<li>
						<div class="left" id="content-left">
							<h3 id="ajaxbtn"><a href="">Golang生成静态页面文件</a></h3>
						</div>
						<div class="right">
							<a href="">完成</a>
							<a href="">删除</a>
						</div>
			  		</li>
			  	</ul>
			  </div>
		</div>
		<div class="footer">
			<span>Footer</span>
		</div>
	</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(function() {
        $('#ajaxbtn').on('click',function(){
        	 $.ajax ({
	             url:"/todo/",
	             type:'POST',
	             data: JSON.stringify({
	        		"title":"One",
	        		"content":"One"
        		 }),
	             dataType:'JSON',
	             error:function(){
	             	alert("error");
	             },
	             success:function(msg){
	             	alert(msg.msg);
	             },
	        });
        	 return false;
	    })
	})
});
</script>
</html>